* {
  margin: 0;
  padding: 0;
  border: none;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #a9fbff;
}
header {
  color: #264653;
  text-align: center;
  padding: 1rem;
  font-size: 2.5vh;
  margin-bottom: 5px;
}
.all-inputs {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.all-inputs H4 {
  color: #264653;
  padding: 0.2rem;
  font-size: 13px;
}
.status-div {
  display: flex;
  flex-direction: column;
}
.all-inputs input {
  height: 5ch;
  width: 40vh;
  color: white;
  font-size: 15px;
  background-color: #9dd6fa;
  font-weight: bold;
  border-radius: 5px;
  padding-left: 5px;
  color: #264653;
}
.submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5vh;
  height: 5ch;
  margin-top: 10px;
  cursor: pointer;
  background: none;
  color: #5ca5ff;
}
.submit-btn i {
  font-size: 40px;
}
.submit-btn:hover {
  transition: all 0.3s ease;
  color: #038ee4;
}
button,
input {
  border: hidden;
  cursor: pointer;
  outline: none;
}
.Reading,
.Want-List,
.Completed {
  padding: 3px;
  border-radius: 2px;
  color: #264653;
  margin: 1px;
}
.Reading {
  background-color: rgb(183, 231, 191);
}
.Want-List {
  background-color: rgb(231, 165, 198);
}
.Completed {
  background-color: rgb(167, 217, 231);
}
.btnDiv {
  background-color: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40vh;
}

.library {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: auto;
}

/* ReadingPressed mistakenly  */
.ReadingPressed {
  opacity: 30%;
  transition: all 0.3s ease;
  background-color: rgb(101, 101, 101);
  padding: 2px;
  pointer-events: none;
}
.library-div {
  background-color: rgb(216, 253, 251);
  height: 20rem;
  width: 20rem;
  padding: 20px;
  margin: 20px;
  border-radius: 8px;
}
.nameInput {
  font-size: 25px;
  color: #264653;
}
.authorInput {
  font-size: 15px;
  margin-bottom: 20px;
  color: #5b889a;
}

.Image {
  height: 50%;
  width: 100%;
  background-image: url(/img/books-01.png);
  background-size: cover;
  margin-bottom: 5px;
}
.maindiv {
  display: flex;
  justify-content: center;
  height: auto;
}
